/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
  margin: 0;
}
body, .app {
  background: white;
}

/* main page */

.list-products-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}
.list-products-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-products-content {
  padding: 0 0 80px;
  flex: 1;
}

.productshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .productshelf {
    padding: 0 20px 40px;
  }
}

.productshelf-title {
  border-bottom: 1px solid #dedede;
}
.productshelf-products {
  text-align: center;
}

.product-cart {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.cart-popup {
  display: block;
  overflow-y: scroll;
  width: 80%;
  height: 500px;
  position: fixed;
  background: white;
  padding: 10px 20px;
  right: 70px;
  bottom: 70px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.16), 1px 3px 6px rgba(0,0,0,0.23);
}
.product-cart a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/cart.svg');
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}
.product-cart .product-cart-count {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
  width: 20px;
  height: 20px;
}
/* search page */

.search-products-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-products-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-products-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-products-results {
  padding: 80px 10px 20px;
}

/* products grid */

.products-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products-grid li {
  padding: 10px 15px;
  text-align: left;
}

.product {
  width: 140px;
}
.product-title,
.product-price,
.product-quantity {
  font-size: 0.8em;
}
.product-title {
  margin-top: 10px;
}
.product-price {
  color: #999;
}

.product-quantity input {
  width: 40px;
  margin: 0 8px;
}

.product-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.product-remove {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/remove.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.product-add {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* product cover */

.product-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.product-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
